<p id="notice"><%= notice %></p>

<h1>Bairros</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @localities.each do |locality| %>
      <tr>
        <td><%= locality.name %></td>
        <td><%= link_to 'Exibir', locality %></td>
        <td><%= link_to 'Editar', edit_locality_path(locality) %></td>
        <td><%= link_to 'Excluir', locality, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar bairro', new_locality_path, class: "btn btn-danger" %>
