<p id="notice"><%= notice %></p>

<p>Nome: <%= @person.name%> </p>
<p>Documento: <%= @person.document%> </p>
<p>Endereço: <%= @person.street%> </p>
<p>Email: <%= @person.email%> </p>
<p>...</p>




<%= link_to 'Editar', edit_person_path(@person) %> |
<%= link_to 'Voltar', people_path %>
