
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <%= image_tag 'logo-header.png', class:"logo-side-bar " %>
      </div>
      <div class="clearfix"></div>


      <!-- menu profile quick info -->
      <div class="block" style="text-align:center">

        <h2>Bem vindo, <%= @presentation_name %></h2>

      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section" style="margin-top: 10px;">
          <h3>Geral</h3>
          <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Básico <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">

                <li>
                  <%= link_to "Pessoas Físicas", people_path %>
                </li>


                <li>
                  <%= link_to "Bairros", localities_path %>
                </li>

                <li>
                  <%= link_to "Unidades", units_path %>
                </li>
              </ul>
            </li>


            <li><a><i class="fa fa-user-md"></i> Profissionais <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
                  <%= link_to "Categorias profissionais", collaborator_categories_path %> </li>
                </li>
                <li>
                  <%= link_to "Profissionais", collaborators_path %> </li>
                </li>

              </li>


            </ul>
          </div>
          <div class="menu_section">
            <h3>Outras categoria</h3>
            <ul class="nav side-menu">

            </ul>
          </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>
