
<%= semantic_form_for @collaborator do |f| %>
<%= f.inputs do %>
<div class="form-group ">
  <%= f.input :person,:prompt => "Selecione uma Pessoa física", :input_html => { :class => 'form-control form-control-lg required', placeholder: "Selecione"}%>
  <%= f.input :collaborator_category,:prompt => "Selecione uma categoria profissional", :input_html => { :class => 'form-control form-control-lg required', placeholder: "Selecione"}%>
</div>
<%end %>
<%= f.actions do %>
<%= f.action :submit, :as => :button, :label => "Registrar profissional", :button_html => { :class => 'btn btn-success btn-lg'} %>
<%= f.action  :cancel, :label => "Cancelar" %>
<%end%>

<%end%>


  <% if @collaborator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collaborator.errors.count, "error") %> impediram o registro desse colaborador:</h2>

      <ul>
      <% @collaborator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



 <div class="form-group ">

          <!-- <label for="collaborator_person_id"> Pessoa física:</label>

  </div>


  <div class="form-group ">

          <!-- <label for="collaborator_collaborator_category_id"> Categoria profissional:</label>



  </div>

  <div class="actions">

    <%= link_to 'Voltar', collaborators_path, class: "btn btn-danger"%>
  </div>
