<%= form_for(@collaborator) do |f| %>
  <% if @collaborator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collaborator.errors.count, "error") %> prohibited this collaborator from being saved:</h2>

      <ul>
      <% @collaborator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group ">
          
          Nome:<br />
          <%= f.collection_select :person_id, Person.all, :id, :name, prompt: true , autofocus: true, autocomplete: "name",class: "input", placeholer: "nome" %>
  </div>
  

  <div class="form-group ">
          
          Profissional:<br />
          <%= f.collection_select :collaborator_category_id, CollaboratorCategory.all, :id, :name, prompt: true , autofocus: true, autocomplete: "name",class: "input", placeholer: "nome" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
