<p id="notice"><%= notice %></p>

<h1>Profissionais</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nome do profissional</th>
      <th>Categoria</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @collaborators.each do |collaborator| %>
      <tr>
        <td><%= collaborator %></td>
        <td><%= collaborator.collaborator_category.name %></td>
        <td><%= link_to 'Exibir', collaborator %></td>
        <td><%= link_to 'Editar', edit_collaborator_path(collaborator) %></td>
        <td><%= link_to 'Excluir', collaborator, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo profissional', new_collaborator_path, class: "btn btn-danger" %>
