<p id="notice"><%= notice %></p>

<p>Nome: <%= @collaborator.person.name %> </p>
<p>Categoria: <%= @collaborator.collaborator_category.name %> </p>

<%= link_to 'Editar', edit_collaborator_path(@collaborator) %> |
<%= link_to 'Voltar', collaborators_path %>
