<%= form_for(@collaborator_category) do |f| %>
  <% if @collaborator_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collaborator_category.errors.count, "error") %> prohibited this collaborator_category from being saved:</h2>

      <ul>
      <% @collaborator_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group ">
        <label for:"collaborator_category_name">Nome</label>

          <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "input form-control form-control-lg", placeholder: "Nome", :required => true %>

  </div>

  <div class="actions">
    <%= f.submit 'Registrar categoria', :class => 'btn btn-success btn-lmd'%>
  </div>
<% end %>
