<p id="notice"><%= notice %></p>

<h1>Categorias Profissionais</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collaborator_categories.each do |collaborator_category| %>
      <tr>
        <td><%= collaborator_category.name %></td>
        <td><%= link_to 'Exibir', collaborator_category %></td>
        <td><%= link_to 'Editar', edit_collaborator_category_path(collaborator_category) %></td>
        <td><%= link_to 'Excluir', collaborator_category, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar categoria profissonal', new_collaborator_category_path, class: "btn btn-danger"%>
