
<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group ">

    <label for:"unit_name">Nome</label>

      <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "input form-control form-control-lg", placeholder: "Nome", :required => true %>
  </div>
    <div class="form-group ">

      <label for:"unit_address">Endereço</label>
          <%= f.text_area :address, autofocus: true, autocomplete: "address",class: "input form-control form-control-lg", placeholder: "Endereço", :required => true %>
  </div>




  <div class="form-group">
    <label for:"unit_phone">Telefone</label>

          <%= f.text_field :phone, autofocus: true, autocomplete: "phone",class: "input form-control form-control-md", placeholder: "Endereço", :required => true %>
  </div>

  <div class="actions">
    <%= f.submit "Registrar unidade de saúde", class: "btn btn-success btn-md" %>
  </div>

<% end %>
