<p id="notice"><%= notice %></p>

<h1>Unidades de Atendimento</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th >Nome</th>
      <th >Endereço</th>
      <th >Telefone</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.address %></td>
        <td><%= unit.phone %></td>
        <td><%= link_to 'Exibir', unit %></td>
        <td><%= link_to 'Editar', edit_unit_path(unit) %></td>
        <td><%= link_to 'Excluir', unit, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastar unidade de saúde', new_unit_path, class: "btn btn-danger" %>
