<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "GentelellaOnRails" %> </title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="nav-md">
<div class="container body">
  <% flash.each do |key, value| %>
      <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<%= render "partials/sidenav" if !@devise_layout %>
<%= render "partials/topnav" if !@devise_layout %>
<%= render "partials/panel" if !@devise_layout %>
<%= yield if @devise_layout %>


  <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>
<!-- <script>
$( "select" ).select2({
    theme: "bootstrap",
    tags: true
});
</script> -->
</body>
</html>
